*{
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.navbar{
  background-color:black;
  margin-bottom:-10px !important;
}

.navelementl{
  margin-left:100px;
  margin-right:20px;
}
.navbar .navbar-header a{
  color:#f7b926;
  padding-top: 1.1em;
  padding-bottom:1.2em;
  font-size: 1.5em;
}

.navbar .nav li a ,.navbar .nav .active a{
  color:white;
  padding-top: 1.4em;
  padding-bottom:1.2em;
  font-size: 1.3em;
}
.navbar .nav li a{
  margin-right:10px;
}
.navbar .nav .active a{
  background-color:#f7b926;
}
.navbar .nav li a:hover ,.navbar .nav .active a:hover,.navbar .nav .dropdown ul li a:hover{
  color:#f7b926;
  background-color: grey;
}
.navbar .nav .dropdown ul li a {
  color:grey;
  padding-top: 0.8em;
  padding-bottom:0.8em;
  font-size:1em;
  }
  html,body,.container-fluid{
    height:100%;
    width:100%;
  }
  .jumbotron{
    background-image: url("../img/hero-lg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;

  }
  .jumbotron h1{
    text-align:center;
    padding-top:20%;
    padding-bottom:5%;
    color:white;

  }
  .jumbotron p{
    padding-bottom:14%;
  }

  span{
    color: #f7b926;
  }

  .container-fluid{
    margin-left: 0px;
    margin-right: 0px;
  }

  .effects div .fontchange{
    padding-top: 10%;
    font-size: 1.4em;
    color:black;
  }
  #AKS div p{
    margin-left:10%;
  }
  .teamwrap p{
    margin-left:20%;
  }
  .sec_team h1{
    color:#f7b926;
  }
  .teamwrap .fchange{
    color:#f7b926;
  }
